:root {
    --bg-gray: #C0C0C0;
    --bg-gray-light: #ECE9D8;
    --main-blue: #0153E3;
}

html {
    background-color: var(--bg-gray);
    display: flex;
    justify-content: center;
}

body {
    overflow: auto;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    position: relative;
}

.game-intros {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 游戏规则和操作说明样式 */
ul li,
ol li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #0073e6;
}

a:hover {
    text-decoration: underline;
}
