.number-buttons {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  width: 100%;
}

.number-button {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  cursor: pointer;
  font-size: 1.2rem;
  width: 34px;
  height: 34px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  line-height: 34px;
  font-weight: bold;
}

/* 避免border重叠 */
.number-button:not(:last-child) {
  border-right: none;
}

.action-buttons {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  width: 100%;
  margin-top: 6px;
  margin-bottom: 6px;
}

button {
  margin-right: 6px;
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  cursor: pointer;
  font-size: 1.2rem;
  height: 34px;
  box-sizing: border-box;
}

select {
  margin-top: 6px;
  margin-right: 6px;
  margin-bottom: 6px;
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  cursor: pointer;
  font-size: 1.2rem;
  height: 34px;
  box-sizing: border-box;
}

.game-timer {
  margin-right: 6px;
  color: #000;
  font-size: 1.2rem;
  height: 34px;
  box-sizing: border-box;
  text-align: center;
  line-height: 34px;
  padding: 0 6px;
}

#game-board {
  border: 2px solid #336699;
}