:root {
  --cell-size: 50px;
  --button-gap: 6px;
}

.game-wrap {
  display: flex;
  gap: 20px;
}

.game-main {
  width: calc(9 * var(--cell-size));
  max-width: 450px;
}

.game-stat {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  color: #333;
}

.game-timer-wrap {
  display: flex;
  align-items: center;
}

.game-timer {
  display: inline-block;
  width: 48px;
  box-sizing: border-box;
  text-align: left;
}

.game-timer-btn {
  line-height: 1.2rem;
  margin-left: 4px;
  color: inherit;
  font-size: inherit;
  display: flex;
  align-items: center;
}

.number-buttons-wrap {
  margin-bottom: 12px;
}

.number-buttons-wrap span {
  font-size: 14px;
}

.number-buttons {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  width: fit-content;
  max-width: 100%;
  border: 1px solid #666;
  border-radius: 16px;
}

.number-button {
  background: transparent;
  border: none;
  color: #0479dd;
  cursor: pointer;
  font-size: calc(0.6 * var(--cell-size));
  width: var(--cell-size);
  height: var(--cell-size);
  line-height: var(--cell-size);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.notes-button {
  color: #666;
  border-color: #999;
  font-size: calc(0.4 * var(--cell-size));
  height: calc(0.8 * var(--cell-size));
  line-height: calc(0.8 * var(--cell-size));
}

/* 避免border重叠 */
/* .number-button:not(:last-child) {
  border-right: none;
} */

.action-buttons {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  width: 100%;
  margin-top: 20px;
  margin-bottom: var(--button-gap);
  gap: var(--button-gap) 0;
}

.button {
  margin-right: var(--button-gap);
  margin-bottom: var(--button-gap);
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  cursor: pointer;
  font-size: 1.2rem;
  height: 36px;
  box-sizing: border-box;
  padding: 0 var(--button-gap);
  border-radius: 8px;
}

select {
  margin-top: var(--button-gap);
  margin-right: var(--button-gap);
  margin-bottom: var(--button-gap);
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  cursor: pointer;
  font-size: 1.2rem;
  height: 36px;
  box-sizing: border-box;
  padding: 0 var(--button-gap);
  border-radius: 8px;
}

.game-board-wrap {
  position: relative;
}

.game-board-react-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #333;
}

.win-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  padding: 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.win-modal-title {
  font-size: 1.5rem;
  margin: 0;
}

.game-board-paused-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 64px;
  height: 64px;
  background-color: #0479dd;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

#game-board {
  box-sizing: border-box;
}

/* 移动端样式 */
@media (max-width: 768px) {
  .game-wrap {
    flex-direction: column;
    gap: 10px;
  }
}
