:root {
  --cell-size: 50px;
  --button-gap: 6px;
}

.game-wrap {
  display: flex;
  gap: 20px;
}

.game-main {
  width: calc(9 * var(--cell-size));
  max-width: 450px;
}

.game-stat {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-timer {
  display: inline-block;
  color: #000;
  font-size: 1.2rem;
  width: 64px;
  box-sizing: border-box;
  text-align: left;
}

.number-buttons {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  width: fit-content;
  max-width: 100%;
  margin: 10px 0;
  border: 1px solid #000;
  border-radius: 8px;
}

.number-button {
  background: transparent;
  border: none;
  color: #336699;
  cursor: pointer;
  font-size: calc(0.6 * var(--cell-size));
  width: var(--cell-size);
  height: var(--cell-size);
  line-height: var(--cell-size);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.notes-button {
  color: #666;
  border-color: #999;
  font-size: calc(0.4 * var(--cell-size));
  height: calc(0.8 * var(--cell-size));
  line-height: calc(0.8 * var(--cell-size));
}

/* 避免border重叠 */
/* .number-button:not(:last-child) {
  border-right: none;
} */

.action-buttons {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  width: 100%;
  margin-top: var(--button-gap);
  margin-bottom: var(--button-gap);
  gap: var(--button-gap) 0;
}

.button {
  margin-right: var(--button-gap);
  margin-bottom: var(--button-gap);
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  cursor: pointer;
  font-size: 1.2rem;
  height: 36px;
  box-sizing: border-box;
  padding: 0 var(--button-gap);
  border-radius: 8px;
}

select {
  margin-top: var(--button-gap);
  margin-right: var(--button-gap);
  margin-bottom: var(--button-gap);
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  cursor: pointer;
  font-size: 1.2rem;
  height: 36px;
  box-sizing: border-box;
  padding: 0 var(--button-gap);
  border-radius: 8px;
}

#game-board {
  box-sizing: border-box;
}

/* 移动端样式 */
@media (max-width: 768px) {
  .game-wrap {
    flex-direction: column;
    gap: 10px;
  }
}
